@import url("https://fonts.googleapis.com/css2?family=Radio+Canada:wght@400;600;700&display=swap");
/* General css */
body,
div,
nav,
footer {
  padding: 0 0;
  margin: 0 0;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0 0;
  margin: 0 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

:root {
  --hue-color: 15;
  --aqua: #08c5cb;
  --white: #111;
  --black: #ffffff;
  --black-body: hsl(var(--hue-color), 60%, 99%);
  --black-web: hsl(var(--hue-color), 60%, 99%);
  --black-web-border: rgb(223, 221, 221);
  --black-covers: hsl(var(--hue-color), 60%, 99%);
  
  --h0: 1rem;
  --h2: 1.2rem;
  --h3: 1.3rem;
  --h4: 1.4rem;
  --h5: 1.5rem;
  --h6: 1.6rem;
  --h7: 1.7rem;
  --h8: 1.8rem;
  --h1: 1.1rem;
  --h9: 1.9rem;
  --h10: 2rem;
  --h11: 0.9rem;
  --h12: 0.8rem;
}
body {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  font-family: "Radio Canada", sans-serif;
  background: var(--black-body);
  color: var(--white);
}
section {
  padding: 0 0;
  margin: 0 5%;
  min-height: auto;
}

/* nav bar css */
nav {
  width: 100%;
  position: fixed;
  background: var(--black-web);
  border-bottom: 1px solid var(--black-web-border);
  z-index: 999;
}
nav ul {
  display: flex;
  padding: 0.6rem 0;
  margin: 0 0;
}
nav ul li:nth-child(1) {
  padding: 16px 16px 16px 5%;
  font-size: var(--h10);
  font-weight: bold;
  color: var(--aqua);
}
nav ul li:nth-child(2) {
  position: fixed;
  font-weight: bold;
  right: 5%;
  padding-top: 8px;
}

nav .dropdown {
  position: relative;
  display: inline-block;
  padding-top: 1rem;
}
nav .dropbtn {
  color: var(--white);
  border: 1px solid var(--white);
  padding: 16px;
  font-size: var(--h1);
  border: none;
  cursor: pointer;
  border-radius: 10px;
  text-decoration: none;
}
nav .dropdown:hover a {
  font-weight: bolder;
  border: none;
}
nav .dropdown a {
  border: 2px solid var(--aqua);
}
nav .dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--black-covers);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 0.7rem;
}
nav .dropdown-content a {
  color: var(--white);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: var(--h1);
  cursor: pointer;
}
nav .dropdown-content a:hover {
  color: var(--black);
  background-color: var(--aqua);
}
nav .dropdown:hover .dropdown-content {
  display: block;
}
nav .dropdown:hover .dropbtn {
  color: var(--aqua);
  background: none;
}

/* nav space css */
.nav_space {
  padding-top: 8rem;
}

/* home css */
.home {
  display: flex;
  padding-bottom: 4rem;
  border-bottom: 1px solid var(--black-web-border);
}
.home .content {
  width: 50%;
}
.home .img {
  position: relative;
  width: 50%;
  height: 450px;
}
.home .img img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  display: flex;
  margin: auto;
  border-radius: 1rem;
}
.home .content {
  padding-left: 4rem;
  margin-top: auto;
  margin-bottom: auto;
}
.home .content .heading {
  font-size: var(--h8);
  color: var(--aqua);
  margin-bottom: 1rem;
}
.home .content .details {
  font-weight: 100;
  font-size: var(--h3);
  color: var(--white);
  margin-bottom: 1rem;
}
.home .content .record,
.home .content .date {
  font-size: var(--h1);
}
.home .content .record,
.home .content .date {
  margin-bottom: 1rem;
}
.home .content .scroll_to_blog {
  cursor: pointer;
}
.home .content .scroll_to_blog i:nth-child(1),
.home .content .scroll_to_blog i:nth-child(3) {
  color: var(--aqua);
  font-size: var(--h4);
}
.home .content .scroll_to_blog i:nth-child(2) {
  color: var(--white);
  font-size: var(--h2);
}
.home .content .scroll_to_blog {
  padding-top: 1rem;
}
.home .content .scroll_to_blog i {
  font-style: normal;
}

/* blog css */
.blog .box {
  width: 100%;
  display: flex;
  margin-top: 4rem;
  padding-bottom: 4rem;
  border-bottom: 1px solid var(--black-web-border);
}
.blog .box:nth-child(5) {
  border-bottom: none;
}
.blog .box .content {
  width: 47%;
}
.blog .box:nth-child(5) .content {
  width: 100%;
  display: block;
}
.blog .box .space {
  width: 6%;
}
.blog .box .img {
  position: relative;
  width: 47%;
  height: 300px;
  display: flex;
  margin: auto;
}
.blog .box .img img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  display: flex;
  margin: auto;
  border-radius: 1rem;
}
.blog .content .heading {
  font-size: var(--h6);
  color: var(--aqua);
  font-weight: bold;
  margin-bottom: 1rem;
}
.blog .content .paragraph {
  font-size: var(--h2);
  text-align:justify;
}
.blog .box:nth-child(2) {
  flex-direction: row-reverse;
}
.blog .box:nth-child(4) {
  flex-direction: row-reverse;
}
.blog .box ul li {
  list-style: circle;
}

/* footer css */
footer {
  width: auto;
  height: auto;
  margin: 2rem 0 0 0;
  padding: 0 3rem;
  display: block;
  color: var(--white);
  border-top: 1px solid var(--black-web-border);
  background-color: var(--black-web);
}
footer .copyright {
  padding: 1rem 1rem;
  margin: 0rem 0;
  text-align: center;
}
footer .copyright span {
  color: var(--aqua);
  font-weight: 700;
}



/* media queries start from here */
@media only screen and (max-width: 1100px) {
  footer {
    padding: 0 2rem;
  }
}
@media only screen and (max-width: 1000px) {
  .nav_space {
    padding-top: 7rem;
  }
  .home {
    display: block;
  }
  .home .content {
    padding-left: 0rem;
    padding-top: 2rem;
    width: 100%;
    display: block;
    margin-top: 0;
    margin-bottom: 0;
  }
  .home .img {
    width: 100%;
    height: 350px;
  }
  .home .img img {
    width: 100%;
  }
  .home .content .scroll_to_blog {
    padding-top: 0rem;
    cursor: pointer;
  }
  .blog .box {
    width: 100%;
    display: block;
    margin-top: 4rem;
    padding-bottom: 4rem;
    border-bottom: 1px solid var(--black-web-border);
  }
  .blog .box .content {
    width: 100%;
    padding-bottom: 1rem;
  }
  .blog .box .img {
    width: 100%;
  }
  .blog .box .img img {
    width: 100%;
  }

  .blog .box .space {
    display: none;
  }
}

/* media queries start from here */
@media only screen and (max-width: 850px) {
  .home .img {
    height: 350px;
  }
  footer {
    display: block;
    width: auto;
  }
  footer .social {
    padding: 10px 0 0 0;
    position: relative;
    text-align: center;
  }
  footer .copyright {
    margin: 0 0;
    padding-bottom: 2rem;
    position: relative;
    right: 0rem;
    text-align: center;
  }
}
@media only screen and (max-width: 600px) {
  .home .img {
    height: 250px;
  }
}
@media only screen and (max-width: 400px) {
  .home .img {
    height: 200px;
  }
}

@media only screen and (max-width: 1000px) {
  :root {
    --h10: 2rem;
    --h9: 1.9rem;
    --h8: 1.6rem;
    --h7: 1.7rem;
    --h6: 1.6rem;
    --h5: 1.5rem;
    --h4: 1.4rem;
    --h3: 1.15rem;
    --h2: 1.2rem;
    --h1: 1rem;
    --h0: 1rem;
    --h11: 0.9rem;
    --h12: 0.8rem;
  }
}
